.custom{
    margin-top: 100px;
}
.center{
    text-align: center;
}
.text-style{
    font-size: 28px;
    padding: 15px;
}
.drop-container{
    padding-top: 20px;
}
.upload-table{
    padding-top: 20px;
}
