<div class="container custom">
  <div class="row">
    <div class="center">
      <span class="text-style">Example of <a _ngcontent-c0="" href="https://www.npmjs.com/package/ngx-file-drop" target="_blank">ngx-file-drop</a> library</span>
      <br>
      <span class="text-style">Drag folder or file and the library will make the traverse for you</span>
    </div>
  </div>
  <div class="row">
    <div class="drop-container">
      <file-drop headertext="Drop files here" (onFileDrop)="dropped($event)" >
        <span></span>
      </file-drop>
      <div class="upload-table">
        <ng-table [config]="config" (tableChanged)="onChangeTable(config)" [rows]="rows" [columns]="columns">
        </ng-table>
        <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
          [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
        </pagination>
      </div>
    </div>
  </div>
</div>